*,
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  width: 300px;
}

textarea {
  width: 500%;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
}

.home,
.add-todo,
.edit-todo,
.navbar {
  width: 550px;
  margin-inline: auto;
}

.home h1 {
  text-align: center;
}

.todo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 1px 1px 3px gray;
  margin-block: 0.5rem;
}

.todo h3 {
  cursor: pointer;
}

.todo p {
  width: 100%;
  padding-block: 1rem;
}

.icons {
  position: absolute;
  top: 10px;
  right: 3%;
}

.icons button {
  font-size: 0.7rem;
  outline: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  margin-right: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.icons button:hover {
  color: black;
}

.icons button:nth-child(1):hover {
  background-color: lightblue;
}
.icons button:nth-child(2):hover {
  background-color: crimson;
}
.icons button:nth-child(3):hover,
.icons button.active {
  background-color: #15be34;
}

.add-todo h3,
.edit-todo h3 {
  font-size: 2rem;
  text-align: center;
}

.add-todo form,
.edit-todo form {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.3rem;
  border: 2px solid black;
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.add-todo form input,
.edit-todo form input {
  width: 500%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.add-todo form button,
.edit-todo form button {
  width: 100px;
  outline: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.add-todo form button:hover,
.edit-todo form button:hover {
  color: black;
  background-color: white;
}

.navbar {
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar a {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: underline;
}
