html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  width: 300px;
}

.home,
.add-todo,
.edit-todo,
.navbar {
  width: 550px;
  margin-inline: auto;
}

.home h1 {
  text-align: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 1px 1px 3px gray;
  margin-block: 0.5rem;
}

.icons button {
  outline: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  margin-right: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
}

.icons button:hover {
  color: black;
}

.icons button:nth-child(1):hover {
  background-color: lightblue;
}
.icons button:nth-child(2):hover {
  background-color: crimson;
}
.icons button:nth-child(3):hover,
.icons button.active {
  background-color: #15be34;
}

.add-todo h3,
.edit-todo h3 {
  text-align: center;
}

.add-todo form,
.edit-todo form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-size: 1.3rem;
  border: 2px solid black;
  margin-block: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.add-todo form input,
.edit-todo form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.add-todo form button,
.edit-todo form button {
  width: 100px;
  outline: none;
  color: white;
  background-color: black;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.add-todo form button:hover,
.edit-todo form button:hover {
  color: black;
  background-color: white;
}

.navbar {
  margin-block: 2rem;
}

.navbar a {
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: underline;
}
